<div class="container mt-5">
  <div *ngIf="!registerMode">
    <h1>Dating App</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis totam quae, minima vel porro
      quibusdam
      ex quidem suscipit repellat commodi eius dolores quod culpa odio deleniti corporis! Nisi, aspernatur perferendis.
    </p>
    <button class="btn btn-lg btn-primary" (click)="registerToggle()">Register</button>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <!-- <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register> -->
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
